@import "tailwindcss";
@import "swiper/css";
@import 'swiper/css/pagination';

@plugin "daisyui";

@plugin "daisyui" {
    themes: light --default, dark --prefersdark, halloween;
  }

:root {
    --font-heading: 'Poppins', sans-serif;
    --font-body: 'Inter', sans-serif;
  }

@keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
}

.scroll-wrapper {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}

.scroll-inner {
  display: inline-block;
  animation: scroll 40s linear infinite;
  white-space: nowrap;
}

  .text-stroke {
    -webkit-text-stroke: 2px black; /* thickness and color */
    color: transparent; /* makes the fill invisible if you want only stroke */
  }
  .text-stroke2 {
    text-shadow: 1px 1px 1px black;
  }

  /* /src/index.css or /src/styles/global.css */

  ::-webkit-scrollbar {
    display: none;
  }
  
  body, html {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;     /* Firefox */
  }


  h1, h2, .hero-title {
    font-family: var(--font-heading);
    font-weight: 700;
  }
  body, p, .text-base {
    font-family: var(--font-body);
    font-weight: 400;
  }
  

